@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


@theme{
  --color-primary: #AF47D2;
  --color-nav: #F3F3F3;
  --font-inter: "Inter", sans-serif;
}


