@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "tailwindcss";


@theme{
  --color-primary: #AF47D2;
  --color-nav: #F3F3F3;
  --font-roboto: "Roboto", sans-serif;
}


